{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  <li>
    <a href="{% url "admin:statify_release_deploy_select_release" original.pk %}{% if is_popup %}?_popup=1{% endif %}" class="default">
      {% trans "Deploy release" %}
    </a>
  </li>
  {{ block.super }}
{% endblock %}

{% block after_related_objects %}
<label class="required">{% trans "Files" %}</label>
<ul>
{% for file in files %}
<li>{{ file }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block submit_buttons_bottom %}
{% if show_delete_link and original %}
<div class="submit-row">
  {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
  <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
</div>
{% endif %}
{% endblock %}
