{% extends "admin/change_form.html" %}
{% load i18n static admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/admin/">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/statify/">Statify</a>
&rsaquo; <a href="/admin/statify/release/">Releases</a>
&rsaquo; {% trans "Deploy release" %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans "Deploy release" %}</h1>
<div id="content-main" data-fn="deployForm">
    <form action="{% url "admin:statify_release_deploy_select_release" release_id %}" method="post" id="release_deploy_form">
        {% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                    {% trans "Please correct the error below." %}
                </p>
            {% endif %}
            <fieldset class="module aligned{% if form.deploymenthost.errors %} errors{% endif %}">
                <div class="form-row field-deploymenthost">
                    <div>
                        {{ form.deploymenthost.errors }}
                        <label for="id_{{ form.deploymenthost.name }}" class="required">{{ form.deploymenthost.label }}</label>
                        {{ form.deploymenthost }}
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <p class="deletelink-box">
                    <a href="/admin/statify/release/" class="deletelink">{% trans "Cancel" %}</a>
                </p>
                <div class="loader deploy-form"></div>
                <input type="submit" value="{% trans "Run deployment" %}" data-value="{% trans "Please wait while deployment is running" %}" class="default" name="_save">
            </div>
        </div>
    </form>
</div>
{% endblock content %}
